@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 13px;
  position: relative;
  font-size: 60px;
}
.card::before {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 60px;
}
.card::after {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 60px;
}
.spade::before,
.spade::after {
  content: "\2660";
}
.club::before,
.club::after {
  content: "\2663";
}
.heart::before,
.heart::after {
  content: "\2665";
}
.diam::before,
.diam::after {
  content: "\2666";
}
